<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

<iframe class="domain-widget-iframe domain-widget-testaff" src="//www.betabh.com/web-hosting/iframe_banner?banner_name=qa_test&aff_track=testaff&main_site=www.betabh.com" width="430" height="288" target="_blank"> </iframe>

    <%= yield %>
  </body>
</html>
